* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-list {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

.slide-item {
  width: 100%;
  height: 100%;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-item p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 3.2em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: white;
  background-color: transparent;
  border: none;
}

#prev {
  left: 80px;
}

#next {
  right: 80px;
}

#dots {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 2;
}

#dots {
  display: flex;
}

#dots div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 8px;
  cursor: pointer;
}

#dots div:last-child {
  margin-right: 0;
}

#dots div.is-active {
  background-color: white;
}
