* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  display: none;
}

.gnb {
  width: 100%;
  display: flex;
}

.gnb > li {
  width: 25%;
  text-align: center;
}

.gnb > li > a {
  display: block;
  width: 100%;
  padding: 20px 0;
  background-color: dodgerblue;
  color: #fff;
  font-weight: 700;
  transition: background-color 200ms ease-in-out;
}

.gnb > li > a:hover,
.gnb > li > a.on {
  background-color: red;
}

.sub {
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}

.sub.active {
  max-height: 260px;
}

.sub li a {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  background-color: #eeeded;
  transition: background-color 200ms ease-in-out;
}

.sub li a:hover {
  background-color: #ccc;
}
