html,body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Black han sans", sans-serif;
  background-color: #2f2f2f;
  font-size: 2rem;
}

span {
  cursor: pointer;
  -webkit-text-stroke: 1px #f9f7f1;
  background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1);
  -webkit-background-clip: text; 
  color: transparent;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in;
}

/* 
  1. -webkit-text-stroke를 통해서 글자 태두리에 흰색 효과를 준다.
  2. -webkit-background-clip 으로 글자만큼 백그라운드를 딴다. 
  (이걸 안 하면 글자 속을 천천히 채우는 게 아니라 네모가 점점 글자를 잠식한다.)
  3. 글자를 투명하게 만든다.
*/

span:hover {
  background-size: 100% 100%;
}

.left {
  background-position: 0% 100%;
  background-size: 0% 100%;
}

.right {
  background-position: 100% 0%;
  background-size: 0% 100%;
}

.top {
  background-position: 0% 0%;
  background-size: 100% 0%;
}

.bottom {
  background-position: 0% 100%;
  background-size: 100% 0%;
}

.center {
  background-position: 50% 50%;
  background-size: 0% 0%;
}


/* 
1. hover시 백그라운드 사이즈를 채우고 transition 속성을 준다.
2. background-position은 각각 x축 y축을 나타낸다. (즉 현재 백그라운드가 어디에 위치하는지 자리를 잡는 것)
3. 백그라운드 사이즈를 x축 y축만큼의 크기를 정하는 것입니다.


.left {
  background-position: 0% 0%; 좌측 상단 끝
  background-size: 0% 100%; 우측 하단 끝
}

.right {
  background-position: 100% 0%;
  background-size: 0% 100%;
}


.center {
  background-position: 50% 50%;
  background-size: 0% 0%;
}

한 가운데에 포지션을 잡아두고 사이즈를 0으로 주면 밖으로 터져나오는 효과를 연출할 수도 있다.
*/
