* {
  margin: 0;
  padding: 0;
}

.position {     
  position: fixed;  
  width: 100%;  
  height: 100vh;
  background-color: blue;
}

.position .row {
  position: absolute;    
  left: 50px;
  top: 50px;
  width: 400px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
}
