/* [문제1] 아래 요구사항에 맞춰 기본 스타일 작성하기 */
/*
	.wrapper (가로 세로 500px, 보더 10px darkblue, 배경색 #fff) 가로 x 세로 중앙정렬
	.box (가로 세로 100px, 보더 5px black)
	.box.red (배경색 red)
	.box.yellow (배경색 yellow)
	.box.green (배경색 green)
*/

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  border: 10px solid darkblue;
  background-color: #fff;
  transition: all 500ms;
}

.wrapper:hover .box {
  transform: rotate(-45deg);
}

.wrapper:hover .red {
  border: 5px solid red;
}

.wrapper:hover .yellow {
  border: 5px solid yellow;
}

.wrapper:hover .green {
  border: 5px solid green;
}

.box {
  width: 100px;
  height: 100px;
  border: 5px solid #000;
  transition: all 300ms ease-in-out;
}

.red {
  background-color: red;
} 

.yellow {
  /* 교차축 혼자 정렬 */
  align-self: center;
  background-color: yellow;
}
.green {
  align-self: end;
  background-color: green;
}

/* 
  [문제2] 
  1. .wrapper에 hover 했을 때 .box 모두 45deg 회전되도록 하기 
  2. border 각자 background-color로 변경
  */

