* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  padding: 50px;
}

.tab-list {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-button {
  padding: 10px 20px 10px 20px;
  margin-bottom: -1px;
  color: grey;
  cursor: pointer;
}

.blue {
  border-top: 4px solid dodgerblue;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -4px;
}

.tab-content {
  display: none;
  padding: 10px;
}

.show {
  display: block;
}
