* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.lg-hidden {
  display: none;
}

.global-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.gnb-log {
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px;
}

.gnb-log li a {
  color: #666;
  margin-right: 18px;
  font-size: 15px;
}

.gnb-log li:last-child a {
  margin-right: 0;
}

.gnb-log li a i {
  margin-right: 5px;
}

.gnb-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.gnb-main-list {
  display: flex;
}

.gnb-main-item {
  position: relative;
}

.gnb-main-item a {
  display: block;
  text-align: center;
  padding: 16px;
}

.gnb-main-item a:hover,
.gnb-main-item a.active {
  color: darkblue;
}

.sub {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.sub.active {
  max-height: 260px;
}

.sub li a {
  transition: color 300ms ease-in-out;
}

.square {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 10px;
  height: 10px;
  background-color: #113676;
  z-index: 10;
}

.square.on {
  display: inline-block;
}

/* .sub:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #113676;
} */

.slide-wrapper {
  position: relative;
  overflow: hidden;
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 700px;
  transition: transform 1s;
}

.slide-item {
  width: 100vw;
  height: 100%;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, .4);
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  padding: 25px 0;
}

.slide-btn li {
  margin-right: 20px;
  transition: color 300ms ease-in-out;
}

.slide-btn li:hover,
.slide-btn li.active {
  color: #FFE111;
}

.slide-btn li:last-child {
  margin-right: 0;
}

.slide-btn li:after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #aaa;
  margin-left: 20px;
}

.slide-btn li:last-child:after {
  content: none;
}

footer {
  margin-top: 60px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  background-color: #414244;
  color: #aaa;
  padding: 0 40px;
}

.footer-top a {
  color: #aaa;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left a {
  display: block;
  padding: 20px;
  font-size: 18px;
  border-left: 1px solid rgba(255, 255, 255, .1);
}

.footer-left li:last-child a{
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer-left li:nth-child(2) a {
  color: #fff;
  font-weight: 700;
}

.footer-right {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 24px;
  color: #fff;
}

.time {
  font-size: 14px;
}

.footer-bottom {
  background-color: #2d2d30;
  color: #aaa;
  padding: 50px 40px;
}

.footer-bottom img {
  opacity: .5;
}

.footer-bottom ul {
  margin-top: 30px;
  display: flex;
}

.footer-bottom ul li:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #555;
  margin: 0 20px;
  transform: rotate(30deg);
}

.footer-bottom ul li:first-child::before {
  content: none;
}

.footer-bottom p {
  margin-top: 10px;
}

.popup {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 300;
  width: 480px;
  border: 3px solid darkblue;
  background-color: #fff;
  text-align: center;
}

.popup-top {
  padding: 30px;
}

.popup .close-btn {
  text-align: right;
}

.popup .close-btn button {
  border: none;
  font-size: 24px;
  background-color: transparent;
}

.popup h2 { 
  text-align: left;
  margin-top: 20px;
  color: darkblue;
}

.popup-top img {
  margin-top: 30px;
}

.content-btn {
  text-align: center;
  margin-top: 30px;
}

.content-btn button {
  padding: 14px 80px;
  border: none;
  color: #fff;
  background-color: #5baa96;
  transition: background-color 300ms ease-in-out;
}

.content-btn button:hover {
  background-color: #4c9381;
}

.popup-check {
  padding: 12px 20px;
  text-align: left;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
}

.popup-check span {
  margin-left: 4px;
  color: #666;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .lg-only {
    display: none;
  }

  .lg-hidden {
    display: block;
  }

  .gnb-log {
    padding: 20px 30px;
  }

  .gnb-main {
    padding: 10px 30px;
  }

  .gnb-open-btn {
    border: none;
  }

  .sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 200;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .2);
    transform: translateX(-200px);
    transition: transform 500ms ease-in-out;
  }

  .sidebar.is-active {
    transform: translateX(0);
  }

  .sidebar-btn {
    float: right;
    border: none;
    font-size: 18px;
    background-color: transparent;
    margin-bottom: 20px;
  }

  .sidebar-list {
    clear: right;
  }

  .sidebar-item a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .sidebar-item:first-child a {
    border-top: 1px solid #ccc;
  }
}
